<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

<!--	<appender name="dailyRollingFile" class="org.apache.log4j.ConsoleAppender">-->
	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		 <param name="File" value="C:/tiruppathir/apache-tomcat-7.0.42/apache-tomcat-7.0.42/webapps/smeportal-karthik/log/sme.log" /> 
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<logger name="com">
		<level value="DEBUG" />
		<appender-ref ref="dailyRollingFile" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="dailyRollingFile" />
	</root>

</log4j:configuration>